<section style="background-color: #eee">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
              alt="avatar"
              class="rounded-circle img-fluid"
              style="width: 150px"
            />
            <h5 class="my-3">{{ user.fullName }}</h5>
            <p class="text-muted mb-1">{{ user.jobTitle }}</p>
            <p class="text-muted mb-4">{{ user.address }}</p>
            <button class="btn-success btn" (click)="modifyprofile()">
              Edit profile
            </button>
            <div class="d-flex justify-content-center mb-2"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Username</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.fullName }}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.email }}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.phone }}</p>
              </div>
            </div>
            <hr />

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.address }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          @for (order of orders; track $index) {
          <div class="col-12 my-1">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4">
                  <span class="text-primary font-italic me-1">Order</span>
                </p>
                @for (item of order.items; track $index) {
                <div class="d-flex position-relative">
                  <p class="mb-1" style="font-size: 1rem">
                    {{ item.title }}
                  </p>
                  <div class="d-flex ms-auto">
                    <p class="mx-1 px-1 border">{{ item.quantity }}</p>
                    <p class="mx-1 px-1 border">
                      {{ item.quantity * item.price | currency : "USD" }}
                    </p>
                  </div>
                </div>
                }
                <div class="d-flex position-relative">
                  <p>total price:</p>
                  <p class="border ms-auto mx-1 px-1">
                    {{ order.totalPrice | currency : "USD" }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>
